<?xml version='1.0' encoding='utf-8'?>
<widget id="io.luiztrindade.aprendaai" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <icon src="res/app_icon.png" />
    <name>Aprenda AI</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <!-- Preferências do splash screen -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/drawable/splash_icon.xml" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
        <preference name="AndroidWindowSplashScreenDuration" value="1500" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="750" />
    </platform>
</widget>
